Repository TheoPoc/laptop_setup: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-syntax-check, validate-group-vars, check-molecule-tests

Path conditions:
  ansible-syntax-check: any of: \.(yml|yaml)$
  validate-group-vars: any of: ^group_vars/.*\.yml$
  check-molecule-tests: any of: ^roles/.*

chore(release): 2.6.0 [skip ci]
  CHANGELOG.md
Due: none

feat(claude-code): add claude-code installation role
  CLAUDE.md
  README.md
  main.yml
  roles/claude-code/defaults/main.yml
  roles/claude-code/meta/main.yml
  roles/claude-code/molecule/default/converge.yml
  roles/claude-code/molecule/default/molecule.yml
  roles/claude-code/molecule/default/verify.yml
  roles/claude-code/tasks/install-Darwin.yml
  roles/claude-code/tasks/install-Debian.yml
  roles/claude-code/tasks/main.yml
  roles/claude-code/vars/Darwin.yml
  roles/claude-code/vars/Debian.yml
  specs/001-claude-code-role/checklists/requirements.md
  specs/001-claude-code-role/contracts/README.md
  specs/001-claude-code-role/data-model.md
  specs/001-claude-code-role/plan.md
  specs/001-claude-code-role/quickstart.md
  specs/001-claude-code-role/research.md
  specs/001-claude-code-role/spec.md
  specs/001-claude-code-role/tasks.md
Due: ansible-syntax-check, check-molecule-tests

refactor(claude-code): simplify role configuration
  roles/claude-code/meta/main.yml
  roles/claude-code/tasks/install-Darwin.yml
  roles/claude-code/tasks/install-Debian.yml
  roles/claude-code/vars/Debian.yml
Due: ansible-syntax-check, check-molecule-tests

refactor(claude-code): streamline macOS and Debian installation tasks
  roles/claude-code/tasks/install-Darwin.yml
  roles/claude-code/tasks/install-Debian.yml
  roles/claude-code/vars/Darwin.yml
Due: ansible-syntax-check, check-molecule-tests

chore(release): 2.7.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  22c736cc6d95601dfc3191bbcd28e504f40f9934
Due: none

chore: implement mega-linter
  .gitignore
Due: none

chore: implement mega-linter
  .cspell.json
  .github/workflows/mega-linter.yml
  .jscpd.json
  .mega-linter.yml
Due: ansible-syntax-check

chore: remove ansible_managed directive from configuration cause deprecated in future version
  .mega-linter.yml
  ansible.cfg
Due: ansible-syntax-check

fix: lint by mega-linter
  .github/auto-assign.yml
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/pr-automation.yml
  .github/workflows/release.yml
  .mega-linter.yml
  group_vars/all.yml
  roles/base-tools/defaults/main.yml
  roles/base-tools/molecule/default/converge.yml
  roles/base-tools/tasks/install-Debian.yml
  roles/base-tools/tasks/install-Ubuntu.yml
  roles/base-tools/vars/main.yml
  roles/claude-code/tasks/install-Darwin.yml
  roles/claude-code/tasks/install-Debian.yml
  roles/copier/tasks/main.yml
  roles/cursor/vars/main.yml
  roles/git/vars/Debian.yml
  roles/gita/tasks/install.yml
  roles/gita/tasks/setup.yml
  roles/gpg/tasks/setup.yml
  roles/macos_settings/defaults/main.yml
  roles/mise/defaults/main.yml
  roles/mise/tasks/install-Debian.yml
  roles/mise/tasks/install-Ubuntu.yml
  roles/warp/molecule/default/verify.yml
  roles/warp/tasks/install-Debian.yml
  roles/warp/tasks/install-Ubuntu.yml
  roles/warp/vars/windows.yml
  roles/zsh/defaults/main.yml
  roles/zsh/tasks/install-Debian.yml
  scripts/dev-setup.sh
  setup.sh
Due: ansible-syntax-check, validate-group-vars, check-molecule-tests

refactor(docker): rename rancher-desktop role to docker
  .github/labeler.yml
  CLAUDE.md
  README.md
  main.yml
  roles/docker/defaults/main.yml
  roles/docker/handlers/main.yml
  roles/docker/meta/main.yml
  roles/docker/molecule/default/collections.yml
  roles/docker/molecule/default/converge.yml
  roles/docker/molecule/default/molecule.yml
  roles/docker/molecule/default/requirements.yml
  roles/docker/molecule/default/verify.yml
  roles/docker/tasks/install-rancher-Darwin.yml
  roles/docker/tasks/install-rancher-Debian.yml
  roles/docker/tasks/main.yml
  roles/docker/vars/main.yml
Due: ansible-syntax-check, check-molecule-tests

feat(docker): add dual installation mode support
  roles/docker/defaults/main.yml
  roles/docker/molecule/default/converge.yml
  roles/docker/molecule/default/molecule.yml
  roles/docker/molecule/default/requirements.yml
  roles/docker/molecule/default/verify.yml
  roles/docker/tasks/install-docker-Darwin.yml
  roles/docker/tasks/install-docker-Debian.yml
  roles/docker/tasks/main.yml
  roles/docker/vars/Darwin.yml
  roles/docker/vars/Debian.yml
Due: ansible-syntax-check, check-molecule-tests

docs(docker): add comprehensive role documentation
  group_vars/all.yml
  roles/docker/README.md
Due: ansible-syntax-check, validate-group-vars, check-molecule-tests

feat(docker): display ansible version
  roles/docker/molecule/default/converge.yml
Due: ansible-syntax-check, check-molecule-tests

fix(docker): update ansible version display variable
  roles/docker/molecule/default/converge.yml
Due: ansible-syntax-check, check-molecule-tests

feat(docker): add docker alternative to rancher desktop
  group_vars/all.yml
  main.yml
  requirements.yml
Due: ansible-syntax-check, validate-group-vars

chore: ignore geerlingguy.docker role on yamllint
  .yamllint
Due: none

chore: improve readybility of group_vars/all.yml
  group_vars/all.yml
Due: ansible-syntax-check, validate-group-vars

chore: fix path of installed docker role
  .yamllint
Due: none

chore: change docker mode to rancher
  group_vars/all.yml
Due: ansible-syntax-check, validate-group-vars

chore(release): 2.8.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  c8e43c7070dd854dd966c6a92ffa9dfcaa8aace6
Due: none

feat: implement taskfile and mise
  .mise.toml
  README.md
  Taskfile.yml
  pyproject.toml
  roles/base-tools/tasks/install-Debian.yml
  roles/mise/tasks/install-Debian.yml
  roles/mise/tasks/install-Ubuntu.yml
  scripts/dev-setup.sh
  setup.sh
  uv.lock
Due: ansible-syntax-check, check-molecule-tests

chore: update README
  README.md
Due: none

feat: dont verify gpg key and ensure answer yes
  roles/mise/templates/config.toml.j2
Due: check-molecule-tests

feat(mise): use system wide for mise configuration
  roles/mise/tasks/configure-mise.yml
Due: ansible-syntax-check, check-molecule-tests

feat(mise): simplify mise installation
  roles/mise/tasks/configure-mise.yml
Due: ansible-syntax-check, check-molecule-tests

feat(mise): trust mise
  README.md
Due: none

fix(mise): path of mise configuration
  roles/mise/molecule/default/verify.yml
Due: ansible-syntax-check, check-molecule-tests

fix(mise): add root privileges for mise configuration
  Taskfile.yml
  roles/mise/tasks/configure-mise.yml
Due: ansible-syntax-check, check-molecule-tests

feat(taskfile): improve list-tags command to output only tags
  CLAUDE.md
  Taskfile.yml
Due: ansible-syntax-check

docs(taskfile): Update documentation for Taskfile.yml improvements
  CLAUDE.md
  Taskfile.yml
Due: ansible-syntax-check

feat: improve Taskfile
  Taskfile.yml
Due: ansible-syntax-check

docs(readme): update to reflect Taskfile.yml and task runner workflow
  README.md
Due: none

Notes added by 'git notes add'
  7ba4be1b6c804f7577d7fd1fa9200d5889bd5a87
Due: none

chore(release): 2.9.0 [skip ci]
  CHANGELOG.md
Due: none

fix: renaming files cause ansible facts change
  roles/base-tools/tasks/install-MacOSX.yml
  roles/warp/tasks/install-MacOSX.yml
  roles/warp/vars/macosx.yml
Due: ansible-syntax-check, check-molecule-tests

fix(mise): ensure to not install mise if already installed
  roles/mise/tasks/install-Darwin.yml
  roles/mise/tasks/install-Debian.yml
  roles/mise/tasks/install-Ubuntu.yml
  roles/mise/tasks/main.yml
Due: ansible-syntax-check, check-molecule-tests

fix: dont install mise on specific path
  README.md
Due: none

chore(release): 2.9.1 [skip ci]
  CHANGELOG.md
Due: none
