Repository TheoPoc/laptop_setup: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-syntax-check, validate-group-vars, check-molecule-tests

ansible-syntax-check:
  name: Ansible Syntax Check
  entry: bash -c 'ansible-playbook main.yml --syntax-check -i hosts'
  language: system
  pass_filenames: false

validate-group-vars:
  name: Validate group_vars
  entry: python3
  language: system
  pass_filenames: false
  args:
  - -c
  ...

check-molecule-tests:
  name: Check Molecule Tests Exist
  entry: python3
  language: system
  pass_filenames: false
  args:
  - -c
  ...

Notes added by 'git notes add'
  fa4eff8d1db51ea583f53b64dbd755026244ea15
Due: none

fix: dont install ssm via homebrew
  group_vars/all.yml
Due: ansible-syntax-check, validate-group-vars

chore(release): 2.9.2 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  654460c60e19d61980b7d866524c9c9b7bb789c0
Due: none

fix: install macvim for macos
  group_vars/all.yml
  roles/vim/tasks/install-Darwin.yml
  roles/vim/vars/Darwin.yml
Due: ansible-syntax-check, validate-group-vars, check-molecule-tests

feat: improve git role
  roles/git/tasks/main.yml
  roles/git/tasks/setup.yml
  roles/git/tests/test.yml
  roles/git/vars/Debian.yml
Due: ansible-syntax-check, check-molecule-tests

fix(gpg): lookup first found
  roles/gpg/tasks/main.yml
Due: ansible-syntax-check, check-molecule-tests

fix: installation of homebrew
  Taskfile.yml
Due: ansible-syntax-check

docs: update README
  README.md
Due: none

chore(release): 2.10.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  a016853cbdc35254b0d288ab80a23ddf301b429a
Due: none

docs: update docs for setup on macos
  README.md
Due: none

fix: install homebrew non interactive
  README.md
  Taskfile.yml
Due: ansible-syntax-check

fix: platform name for i386
  Taskfile.yml
Due: ansible-syntax-check

fix: homebrew path
  Taskfile.yml
  roles/base-tools/tasks/install-MacOSX.yml
  roles/base-tools/vars/main.yml
Due: ansible-syntax-check, check-molecule-tests

fix(homebrew): standardize homebrew path variables across all roles
  roles/appstore/tasks/main.yml
  roles/appstore/vars/main.yml
  roles/base-tools/tasks/install-MacOSX.yml
  roles/base-tools/vars/main.yml
  roles/claude-code/tasks/install-Darwin.yml
  roles/claude-code/vars/Darwin.yml
  roles/cursor/tasks/install-Darwin.yml
  roles/cursor/vars/Darwin.yml
  roles/iterm2/tasks/main.yml
  roles/iterm2/vars/main.yml
  roles/macos_settings/tasks/configure_dock.yml
  roles/macos_settings/tasks/configure_others.yml
  roles/macos_settings/vars/main.yml
  roles/mise/tasks/install-Darwin.yml
  roles/mise/vars/Darwin.yml
  roles/vim/tasks/install-Darwin.yml
  roles/vim/vars/Darwin.yml
  roles/warp/tasks/install-MacOSX.yml
  roles/warp/vars/macosx.yml
  roles/zsh/tasks/install-Darwin.yml
  roles/zsh/vars/main.yml
Due: ansible-syntax-check, check-molecule-tests

Notes added by 'git notes add'
  9f70192b3eb349359c1e0e34caaa27db23515ba6
Due: none

chore(release): 2.10.1 [skip ci]
  CHANGELOG.md
Due: none

fix(warp): standardize OS-specific file naming to uppercase
  roles/warp/tasks/main.yml
  roles/warp/vars/Debian.yml
  roles/warp/vars/MacOSX.yml
  roles/warp/vars/Redhat.yml
  roles/warp/vars/Ubuntu.yml
  roles/warp/vars/Windows.yml
Due: ansible-syntax-check, check-molecule-tests

style(macos_settings): fix spacing in Jinja2 variable
  roles/macos_settings/tasks/configure_dock.yml
Due: ansible-syntax-check, check-molecule-tests

chore(release): 2.10.2 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  4ba8562c5f24bc415cb4a46683208bfdcd7d71c5
Due: none

fix(macos_settings): standardize dockutil path to use Ansible variable and replace shell with command
  roles/macos_settings/tasks/configure_dock.yml
Due: ansible-syntax-check, check-molecule-tests

chore(release): 2.10.3 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  70c75af8c2760f890f843955eba70b01c46bafd4
Due: none

chore(renovate): remove schedules to enable immediate PR creation
  renovate.json
Due: none

chore(renovate): enable auto-merge for vulnerability alerts
  renovate.json
Due: none

chore: remove ansible_managed directive from configuration cause deprecated in future version
  .mega-linter.yml
  ansible.cfg
Due: ansible-syntax-check

chore: implement mega-linter
  .cspell.json
  .github/workflows/mega-linter.yml
  .jscpd.json
  .mega-linter.yml
Due: ansible-syntax-check

chore: implement mega-linter
  .gitignore
Due: none

fix: lint by mega-linter
  .github/auto-assign.yml
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/pr-automation.yml
  .github/workflows/release.yml
  .mega-linter.yml
  group_vars/all.yml
  roles/base-tools/defaults/main.yml
  roles/base-tools/molecule/default/converge.yml
  roles/base-tools/tasks/install-Debian.yml
  roles/base-tools/tasks/install-Ubuntu.yml
  roles/base-tools/vars/main.yml
  roles/claude-code/tasks/install-Darwin.yml
  roles/claude-code/tasks/install-Debian.yml
  roles/copier/tasks/main.yml
  roles/cursor/vars/main.yml
  roles/gita/tasks/install.yml
  roles/gita/tasks/setup.yml
  roles/gpg/tasks/setup.yml
  roles/macos_settings/defaults/main.yml
  roles/mise/defaults/main.yml
  roles/mise/tasks/install-Debian.yml
  roles/mise/tasks/install-Ubuntu.yml
  roles/warp/molecule/default/verify.yml
  roles/warp/tasks/install-Debian.yml
  roles/warp/tasks/install-Ubuntu.yml
  roles/warp/vars/Windows.yml
  roles/zsh/defaults/main.yml
  roles/zsh/tasks/install-Debian.yml
  scripts/dev-setup.sh
  setup.sh
Due: ansible-syntax-check, validate-group-vars, check-molecule-tests

chore: use mega-linter on pre-commit instead
  .pre-commit-config.yaml
Due: ansible-syntax-check

chore: add ansible-lint as dependencies
  pyproject.toml
  uv.lock
Due: none

chore: use flavor documentation for mega-linter
  .github/workflows/mega-linter.yml
Due: ansible-syntax-check

[MegaLinter] Apply linters fixes
  Taskfile.yml
  group_vars/all.yml
  roles/appstore/vars/main.yml
  roles/claude-code/tasks/install-Darwin.yml
  roles/git/tasks/setup.yml
  roles/macos_settings/vars/main.yml
Due: ansible-syntax-check, validate-group-vars, check-molecule-tests

chore: configure mega-linter and add node.js to mise
  .github/workflows/mega-linter.yml
  .mise.toml
  uv.lock
Due: ansible-syntax-check

fix: enable again llm advisor to have results summary on the comment of prs
  .github/workflows/mega-linter.yml
Due: ansible-syntax-check

chore: configure mega-linter and remove legacy setup scripts
  .ansible-lint
  .github/workflows/ci.yml
  scripts/dev-setup.sh
  setup.sh
Due: ansible-syntax-check

chore: update mega-linter configuration
  .mega-linter.yml
Due: ansible-syntax-check

Path conditions:
  ansible-syntax-check: any of: \.(yml|yaml)$
  validate-group-vars: any of: ^group_vars/.*\.yml$
  check-molecule-tests: any of: ^roles/.*
