Repository TheoPoc/laptop_setup: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-syntax-check, validate-group-vars, check-molecule-tests

Path conditions:
  ansible-syntax-check: any of: \.(yml|yaml)$
  validate-group-vars: any of: ^group_vars/.*\.yml$
  check-molecule-tests: any of: ^roles/.*

chore: update mega-linter workflow
  .github/workflows/mega-linter.yml
Due: ansible-syntax-check

feat: try a new way to cache docker images
  .github/actions/docker_image_cache
  .github/workflows/mega-linter.yml
Due: ansible-syntax-check

fix(actions): restructure docker_image_cache action directory
  .github/actions/docker_image_cache/action.yml
Due: ansible-syntax-check

fix: test
  .github/workflows/mega-linter.yml
Due: ansible-syntax-check

fix: try to make docker cache working
  .github/workflows/mega-linter.yml
Due: ansible-syntax-check

feat(ci): replace megalinter container action with docker run to optimize cache
  .github/workflows/mega-linter.yml
Due: ansible-syntax-check

feat: change docker image megalinter to custom flavor ansible
  .github/workflows/mega-linter.yml
Due: ansible-syntax-check

feat: install kubectl zsh plugins
  roles/zsh/defaults/main.yml
Due: ansible-syntax-check, check-molecule-tests

chore(release): 2.11.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  2288d7a0466282efcb36c4177e984dc534444ebf
Due: none

ci: add renovate branches to CI workflow triggers
  .github/workflows/ci.yml
Due: ansible-syntax-check

feat: install glances
  roles/base-tools/tasks/install-Debian.yml
Due: ansible-syntax-check, check-molecule-tests

chore(release): 2.12.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  62778795a156dcc6525a1d79c06e0f9100333c9b
Due: none

fix: make sure direnv command is enabled if direnv is installed
  roles/zsh/templates/.zshrc.j2
Due: check-molecule-tests

chore(release): 2.12.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  a8cdaf3bababd418953d2b7679832b2955f8b712
Due: none

feat: install xclip as dependency for copyfile on Ubuntu/Debian
  roles/zsh/tasks/install-Debian.yml
Due: ansible-syntax-check, check-molecule-tests

chore(release): 2.13.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  577865ac6e0545f3e42e8e793f6b0a0ea9de8fa4
Due: none

feat: install lazygit, sops and age
  group_vars/all.yml
Due: ansible-syntax-check, validate-group-vars

chore(release): 2.14.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  47dc43a29bb82335146be769da46fe763a2198b8
Due: none

fix: dont specify type of shell to to eval mise
  roles/zsh/templates/.zshrc.j2
Due: check-molecule-tests

chore(release): 2.14.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  39fa62e6c38576325dcd742ea71cafc70043812d
Due: none

feat: install glances on Ubuntu/Debian
  group_vars/all.yml
Due: ansible-syntax-check, validate-group-vars

chore(release): 2.15.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  d6745feac2a3147e271edd5984011a220da14315
Due: none

feat(cursor): add new keybindings
  group_vars/all.yml
Due: ansible-syntax-check, validate-group-vars

chore(release): 2.16.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  074baf71b93f2d792c331ba82f796a1e559ea5b9
Due: none

fix(spotify): fix pgp key for spotify repository
  group_vars/all.yml
Due: ansible-syntax-check, validate-group-vars
