Repository TheoPoc/laptop_setup: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-syntax-check, validate-group-vars, check-molecule-tests

Path conditions:
  ansible-syntax-check: any of: \.(yml|yaml)$
  validate-group-vars: any of: ^group_vars/.*\.yml$
  check-molecule-tests: any of: ^roles/.*

fix: simplify base-tools molecule tests to match minimal configuration
  roles/base-tools/molecule/default/molecule.yml
  roles/base-tools/molecule/default/verify.yml
Due: ansible-syntax-check, check-molecule-tests

Revert "fix: simplify base-tools molecule tests to match minimal configuration"
  roles/base-tools/molecule/default/molecule.yml
  roles/base-tools/molecule/default/verify.yml
Due: ansible-syntax-check, check-molecule-tests

fix: add missing packages to base-tools molecule tests
  roles/base-tools/molecule/default/molecule.yml
  roles/base-tools/molecule/default/verify.yml
Due: ansible-syntax-check, check-molecule-tests

feat: implement automatic semantic release workflow
  .github/workflows/release.yml
  .releaserc.json
  CLAUDE.md
Due: ansible-syntax-check

refactor: manage semantic-release dependencies via package.json
  .github/workflows/release.yml
  .gitignore
  package-lock.json
  package.json
Due: ansible-syntax-check

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  1a232a3a03b64bd2cfab6b463f9860b9bfa70ffa
Due: none

feat: add Renovate for automated dependency management
  CLAUDE.md
  renovate.json
Due: none

feat(release): trigger patch releases for dependency updates
  .releaserc.json
  CLAUDE.md
Due: none

feat(renovate): require all CI checks to pass before auto-merge
  CLAUDE.md
  renovate.json
Due: none

fix: remove extra quote in .releaserc.json causing JSON parse error
  .releaserc.json
Due: none

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  2ed5c6f4705393e8dbbcfb4625c6a6194ff6feab
Due: none

ci: skip CI pipeline for chore commits to optimize workflow execution
  .github/workflows/ci.yml
Due: ansible-syntax-check

docs: add Git workflow section with mandatory PR policy to CLAUDE.md
  CLAUDE.md
Due: none

fix: analyze commit message for both push and PR events in CI workflow
  .github/workflows/ci.yml
Due: ansible-syntax-check

chore(release): 1.2.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  23879b6a32c330cb4ca4dae566848de74d8916f8
Due: none

docs: add Semantic Release and Renovate badges to README
  README.md
Due: none

refactor: use native GitHub Actions branch filters to control CI execution
  .github/workflows/ci.yml
Due: ansible-syntax-check

chore(release): 1.2.2 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  4a4eeca8be5d41e6cda559235822fb636c6f7f5a
Due: none

chore(renovate): disable pin digest updates for GitHub Actions
  renovate.json
Due: none

ci: remove dependabot auto-approve job and references
  .github/workflows/ci.yml
  .github/workflows/pr-automation.yml
Due: ansible-syntax-check

ci(workflow): simplify CI workflow triggers
  .github/workflows/ci.yml
Due: ansible-syntax-check

chore(deps): remove unused Ansible dependencies
  requirements.yml
Due: ansible-syntax-check

chore(deps): pin community.general to version >=12.0.0
  requirements.yml
Due: ansible-syntax-check

docs: prepare repository for public release
  LICENSE.txt
  SECURITY.md
  group_vars/all.yml
  hosts
Due: ansible-syntax-check, validate-group-vars

refactor(zsh): use ansible_user_id instead of ansible_user
  roles/zsh/defaults/main.yml
Due: ansible-syntax-check, check-molecule-tests

refactor: remove unnecessary ansible_user from inventory
  README.md
  hosts
  scripts/dev-setup.sh
Due: none

docs: emphasize Git configuration requirement in README
  README.md
Due: none

refactor: use ansible_user_id directly instead of intermediate variables
  CLAUDE.md
  group_vars/all.yml
  roles/cursor/defaults/main.yml
  roles/cursor/tasks/setup-settings.yml
  roles/iterm2/tasks/main.yml
  roles/macos_settings/defaults/main.yml
  roles/vim/defaults/main.yml
  roles/vim/tasks/main.yml
  roles/vim/vars/Darwin.yml
  roles/vim/vars/Debian.yml
  roles/warp/defaults/main.yml
  roles/warp/tasks/main.yml
  roles/zsh/defaults/main.yml
  roles/zsh/tasks/install-Darwin.yml
  roles/zsh/tasks/install-Debian.yml
  roles/zsh/templates/.zshrc.j2
Due: ansible-syntax-check, validate-group-vars, check-molecule-tests

fix(vim): restore OS-specific vim_group variable
  roles/vim/tasks/main.yml
  roles/vim/vars/Darwin.yml
  roles/vim/vars/Debian.yml
Due: ansible-syntax-check, check-molecule-tests

docs: remove SSH key generation steps for public repository
  README.md
Due: none

docs: update repository references from ansible-mgmt-laptop to laptop_setup
  .github/TELEGRAM_SETUP.md
  .releaserc.json
  CONTRIBUTING.md
  README.md
  package-lock.json
  package.json
  renovate.json
  roles/gita/meta/main.yml
  roles/gpg/meta/main.yml
Due: ansible-syntax-check, check-molecule-tests

chore(release): 1.2.3 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  1383055ff8cc94ead8c4acfed9bb71fe052503c6
Due: none

feat(playbook): enable appstore role for Mac App Store applications
  main.yml
Due: ansible-syntax-check

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  d0dc61cb4b8ea9fbe40400845f62fb9266eebe81
Due: none
