Repository TheoPoc/laptop_setup: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-syntax-check, validate-group-vars, check-molecule-tests

ansible-syntax-check:
  name: Ansible Syntax Check
  entry: bash -c 'ansible-playbook main.yml --syntax-check -i hosts'
  language: system
  pass_filenames: false

validate-group-vars:
  name: Validate group_vars
  entry: python3
  language: system
  pass_filenames: false
  args:
  - -c
  ...

check-molecule-tests:
  name: Check Molecule Tests Exist
  entry: python3
  language: system
  pass_filenames: false
  args:
  - -c
  ...

feat(ci): enhance Telegram notification with release tag and commit message
  .github/workflows/release.yml
Due: ansible-syntax-check

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  21cfed45ed8e01a41ba2705af8e28b44985b7668
Due: none

ci(pipeline): optimize CI with molecule-action and ansible-lint action
  .github/workflows/ci.yml
Due: ansible-syntax-check

ci(pipeline): replace manual yamllint with ibiqlik/action-yamllint action
  .github/workflows/ci.yml
Due: ansible-syntax-check

ci(pipeline): enforce yamllint failures by removing continue-on-error
  .github/workflows/ci.yml
Due: ansible-syntax-check

ci(pipeline): use action-ansible-playbook for syntax validation
  .github/workflows/ci.yml
Due: ansible-syntax-check

fix(ci): revert to manual ansible-lint installation to fix compatibility issues
  .github/workflows/ci.yml
Due: ansible-syntax-check

fix(ci): use working-directory instead of directory parameter for molecule-action
  .github/workflows/ci.yml
Due: ansible-syntax-check

fix(ci): correct working-directory indentation in molecule-action step
  .github/workflows/ci.yml
Due: ansible-syntax-check

test(ci): try MOLECULE_ROLE_PATH env var to specify role directory
  .github/workflows/ci.yml
Due: ansible-syntax-check

fix(ci): use ANSIBLE_ROLES_PATH instead of MOLECULE_ROLE_PATH
  .github/workflows/ci.yml
Due: ansible-syntax-check

fix(ci): checkout to github.repository path for molecule-action compatibility
  .github/workflows/ci.yml
Due: ansible-syntax-check

feat(ci): configure molecule-action to use ubuntu 24.04 container image
  .github/workflows/ci.yml
Due: ansible-syntax-check

ci(tests): enable debug logging for Molecule tests
  .github/workflows/ci.yml
Due: ansible-syntax-check

ci(test): enable debug mode for molecule tests in CI pipeline
  .github/workflows/ci.yml
Due: ansible-syntax-check

fix(ci): use correct molecule command syntax --debug test
  .github/workflows/ci.yml
Due: ansible-syntax-check

fix(ci): use only --debug flag for molecule command
  .github/workflows/ci.yml
Due: ansible-syntax-check

feat(ci): migrate to gofrolist/molecule-action for better molecule testing
  .github/workflows/ci.yml
Due: ansible-syntax-check

fix(test): remove deprecated ansible property from molecule.yml files
  roles/appstore/molecule/default/molecule.yml
  roles/base-tools/molecule/default/molecule.yml
  roles/copier/molecule/default/molecule.yml
  roles/cursor/molecule/default/molecule.yml
  roles/git/molecule/default/molecule.yml
  roles/gita/molecule/default/molecule.yml
  roles/gpg/molecule/default/molecule.yml
  roles/iterm2/molecule/default/molecule.yml
  roles/mise/molecule/default/molecule.yml
  roles/rancher-desktop/molecule/default/molecule.yml
  roles/uv/molecule/default/molecule.yml
  roles/vim/molecule/default/molecule.yml
  roles/warp/molecule/default/molecule.yml
  roles/zsh/molecule/default/molecule.yml
Due: ansible-syntax-check, check-molecule-tests

fix(test): change molecule driver from podman to docker
  roles/appstore/molecule/default/molecule.yml
  roles/base-tools/molecule/default/molecule.yml
  roles/copier/molecule/default/molecule.yml
  roles/cursor/molecule/default/molecule.yml
  roles/git/molecule/default/molecule.yml
  roles/gita/molecule/default/molecule.yml
  roles/gpg/molecule/default/molecule.yml
  roles/iterm2/molecule/default/molecule.yml
  roles/mise/molecule/default/molecule.yml
  roles/rancher-desktop/molecule/default/molecule.yml
  roles/uv/molecule/default/molecule.yml
  roles/vim/molecule/default/molecule.yml
  roles/warp/molecule/default/molecule.yml
  roles/zsh/molecule/default/molecule.yml
Due: ansible-syntax-check, check-molecule-tests

fix(ci): add missing warp_enabled variable to group_vars
  group_vars/all.yml
Due: ansible-syntax-check, validate-group-vars

perf(ci): replace manual ansible-lint with official GitHub Action
  .github/workflows/ci.yml
Due: ansible-syntax-check

perf(ci): streamline ansible syntax validation with GitHub Action
  .github/workflows/ci.yml
Due: ansible-syntax-check

perf(ci): use ansible-playbook action for integration test
  .github/workflows/ci.yml
Due: ansible-syntax-check

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  354f7e8e931bce62240a29258a4b2b8112e93ad5
Due: none

ci(renovate): change schedule to saturday at 2pm
  renovate.json
Due: none

perf(ci): optimize pipeline to test only changed roles
  .github/workflows/ci.yml
Due: ansible-syntax-check

perf(ci): ensure all roles tested on main branch
  .github/workflows/ci.yml
Due: ansible-syntax-check

refactor(ci): make role discovery fully dynamic
  .github/workflows/ci.yml
Due: ansible-syntax-check

chore(release): 1.5.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  309017621bc0e5b82936ac084ee2002679326867
Due: none

fix(ci): exclude macOS-only roles from Ubuntu CI tests
  .github/workflows/ci.yml
Due: ansible-syntax-check

refactor(ci): combine role discovery and filter generation into single step
  .github/workflows/ci.yml
Due: ansible-syntax-check

fix(ci): correct output reference after step consolidation
  .github/workflows/ci.yml
Due: ansible-syntax-check

fix(ci): skip test-roles job when no roles to test
  .github/workflows/ci.yml
Due: ansible-syntax-check

chore(release): 1.5.2 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  97c3b942bf81d4a215ed1c0dab9642c99828ed99
Due: none

docs(claude): update molecule tests role list and document macOS-only roles
  CLAUDE.md
Due: none

Path conditions:
  ansible-syntax-check: any of: \.(yml|yaml)$
  validate-group-vars: any of: ^group_vars/.*\.yml$
  check-molecule-tests: any of: ^roles/.*
