Repository TheoPoc/laptop_setup: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-syntax-check, validate-group-vars, check-molecule-tests

ansible-syntax-check:
  name: Ansible Syntax Check
  entry: bash -c 'ansible-playbook main.yml --syntax-check -i hosts'
  language: system
  pass_filenames: false

validate-group-vars:
  name: Validate group_vars
  entry: python3
  language: system
  pass_filenames: false
  args:
  - -c
  ...

check-molecule-tests:
  name: Check Molecule Tests Exist
  entry: python3
  language: system
  pass_filenames: false
  args:
  - -c
  ...

Notes added by 'git notes add'
  e842e3d70d5b28a2298767cb55268bcba4402f01
Due: none

feat(renovate): disable manual approval for dependency updates
  renovate.json
Due: none

chore(release): 2.2.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  5a9273e3f4f685041f8f2b1daa4ac9cc6c18e60f
Due: none

feat: add Python dependency management with uv
  .python-version
  pyproject.toml
  uv.lock
Due: none

chore(release): 2.3.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  4a7fcb0fbc787d244562c7e4024dc7ca394e9666
Due: none

docs: simplify documentation by reducing verbosity
  CLAUDE.md
  README.md
Due: none

ci: remove automated PR analysis job from workflow
  .github/workflows/pr-automation.yml
  CLAUDE.md
Due: ansible-syntax-check

docs: add version badge to display latest release
  README.md
Due: none

docs: remove AUTOMATION.md and all references
  .cursorrules
  AUTOMATION.md
  CONTRIBUTING.md
  README.md
Due: none

docs: add --ask-become-pass flag to commands and update Ubuntu version
  Makefile
  README.md
Due: none

fix(mise): add -y flag to make mise commands non-interactive
  roles/mise/tasks/configure-mise.yml
Due: ansible-syntax-check, check-molecule-tests

chore(release): 2.3.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  2a1c12381d0a698679c9fcb67e216837c1431951
Due: none

fix(zsh): add macOS conditions for Homebrew-specific sections
  roles/zsh/molecule/default/verify.yml
  roles/zsh/templates/.zshrc.j2
Due: ansible-syntax-check, check-molecule-tests

feat: add rar package
  group_vars/all.yml
Due: ansible-syntax-check, validate-group-vars

chore(release): 2.4.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  03b13e156e72155f5337c9052dcd6bdf4d10b0e6
Due: none

chore: remove deprecation_warnings setting from ansible.cfg
  ansible.cfg
Due: none

fix(zsh): update macOS condition for deprecation
  roles/zsh/templates/.zshrc.j2
Due: check-molecule-tests

chore(zsh): add base-tools role as a dependency
  roles/zsh/meta/main.yml
Due: ansible-syntax-check, check-molecule-tests

fix: dont error if there is no debian/ubuntu packages on the list
  roles/base-tools/defaults/main.yml
Due: ansible-syntax-check, check-molecule-tests

fix: install git as dependencies cause sometimes need to install mise tools
  roles/mise/tasks/install-Debian.yml
  roles/mise/tasks/install-Ubuntu.yml
Due: ansible-syntax-check, check-molecule-tests

fix(base-tools): ensure zip packages is installed for unarchive module
  roles/base-tools/tasks/install-Debian.yml
  roles/base-tools/tasks/install-Ubuntu.yml
Due: ansible-syntax-check, check-molecule-tests

fix: make sure uv and direnv is installed for the molecule tests
  roles/zsh/molecule/default/converge.yml
Due: ansible-syntax-check, check-molecule-tests

fix: invert order of eval mise before direnv on zshrc
  roles/zsh/templates/.zshrc.j2
Due: check-molecule-tests

chore: add missing tags zsh to task
  roles/zsh/tasks/install-Debian.yml
Due: ansible-syntax-check, check-molecule-tests

fix(zsh): verify part on load zshrc
  roles/zsh/molecule/default/verify.yml
Due: ansible-syntax-check, check-molecule-tests

chore: update namespace and author for each roles
  roles/base-tools/meta/main.yml
  roles/copier/meta/main.yml
  roles/cursor/meta/main.yml
  roles/git/meta/main.yml
  roles/gita/meta/main.yml
  roles/gpg/meta/main.yml
  roles/mise/meta/main.yml
  roles/rancher-desktop/meta/main.yml
  roles/uv/meta/main.yml
  roles/warp/meta/main.yml
  roles/zsh/meta/main.yml
Due: ansible-syntax-check, check-molecule-tests

fix(zsh): remove dependencies from base tools
  roles/zsh/meta/main.yml
Due: ansible-syntax-check, check-molecule-tests

fix(zsh): install autojump missing packages
  roles/zsh/tasks/install-Debian.yml
Due: ansible-syntax-check, check-molecule-tests

fix(zsh): update zshrc verification and adjust package checks
  roles/zsh/molecule/default/converge.yml
  roles/zsh/molecule/default/verify.yml
  roles/zsh/templates/.zshrc.j2
Due: ansible-syntax-check, check-molecule-tests

chore(release): 2.4.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  8874065ad5a2b61ea64194b96c544f6d114e0ee8
Due: none

feat: add network retry directives to improve download resilience
  roles/base-tools/tasks/install-Darwin.yml
  roles/base-tools/tasks/install-Debian.yml
  roles/base-tools/tasks/install-Ubuntu.yml
  roles/mise/tasks/install-Debian.yml
  roles/mise/tasks/install-Ubuntu.yml
  roles/warp/tasks/install-Redhat.yml
Due: ansible-syntax-check, check-molecule-tests

chore(release): 2.5.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  7894901ba38ff0f0ed77b4ab2227080cd764b7bd
Due: none

docs: improve speckit guidance
  .specify/memory/constitution.md
  specs/001-debian-compatibility/checklists/requirements.md
  specs/001-debian-compatibility/plan.md
  specs/001-debian-compatibility/quickstart.md
  specs/001-debian-compatibility/research.md
  specs/001-debian-compatibility/role-inventory.md
  specs/001-debian-compatibility/spec.md
  specs/001-debian-compatibility/tasks.md
Due: none

Notes added by 'git notes add'
  cb3dcf272f967131eed35008023375a2d3a91d69
Due: none

Path conditions:
  ansible-syntax-check: any of: \.(yml|yaml)$
  validate-group-vars: any of: ^group_vars/.*\.yml$
  check-molecule-tests: any of: ^roles/.*
