Repository TheoPoc/laptop_setup: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-syntax-check, validate-group-vars, check-molecule-tests

ansible-syntax-check:
  name: Ansible Syntax Check
  entry: bash -c 'ansible-playbook main.yml --syntax-check -i hosts'
  language: system
  pass_filenames: false

validate-group-vars:
  name: Validate group_vars
  entry: python3
  language: system
  pass_filenames: false
  args:
  - -c
  ...

check-molecule-tests:
  name: Check Molecule Tests Exist
  entry: python3
  language: system
  pass_filenames: false
  args:
  - -c
  ...

docs(claude): add GitHub MCP workflow investigation guidance
  CLAUDE.md
Due: none

ci(workflow): add scheduled execution every Saturday at 3pm Paris time
  .github/workflows/ci.yml
Due: ansible-syntax-check

feat(config): replace Arc browser with Dia browser
  group_vars/all.yml
Due: ansible-syntax-check, validate-group-vars

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  7605ed85b63ea58a690ae955cc05bfbc61707366
Due: none

feat(debian): add official Debian 12 (Bookworm) support
  CLAUDE.md
  README.md
  roles/base-tools/molecule/default/molecule.yml
  roles/mise/molecule/default/molecule.yml
  roles/mise/tasks/install-Debian.yml
  roles/mise/tasks/install-Ubuntu.yml
Due: ansible-syntax-check, check-molecule-tests

feat(ubuntu): add dedicated Ubuntu distribution support
  roles/base-tools/tasks/install-Ubuntu.yml
  roles/base-tools/tasks/main.yml
  roles/cursor/tasks/install-Ubuntu.yml
  roles/cursor/tasks/main.yml
  roles/cursor/vars/Ubuntu.yml
  roles/git/vars/Ubuntu.yml
  roles/mise/tasks/install-Ubuntu.yml
  roles/mise/tasks/main.yml
Due: ansible-syntax-check, check-molecule-tests

fix(base-tools): correct YAML block structure for Slack and Postman tasks
  roles/base-tools/tasks/install-Debian.yml
  roles/base-tools/tasks/install-Ubuntu.yml
Due: ansible-syntax-check, check-molecule-tests

feat(roles): add Debian 12 compatibility for all non-macOS roles
  .github/workflows/ci.yml
  .gitignore
  .specify/memory/constitution.md
  CLAUDE.md
  README.md
  roles/copier/molecule/default/converge.yml
  roles/copier/molecule/default/molecule.yml
  roles/copier/tasks/install-Debian.yml
  roles/copier/tasks/main.yml
  roles/copier/vars/Debian.yml
  roles/git/molecule/default/molecule.yml
  roles/git/molecule/default/verify.yml
  roles/git/tasks/install-Debian.yml
  roles/git/tasks/main.yml
  roles/git/vars/Debian.yml
  roles/gita/molecule/default/converge.yml
  roles/gita/molecule/default/molecule.yml
  roles/gita/tasks/install-Debian.yml
  roles/gita/tasks/main.yml
  roles/gita/vars/Debian.yml
  roles/gpg/molecule/default/molecule.yml
  roles/gpg/molecule/default/verify.yml
  roles/gpg/tasks/install-Debian.yml
  roles/gpg/tasks/main.yml
  roles/gpg/vars/Debian.yml
  roles/uv/molecule/default/converge.yml
  roles/uv/molecule/default/molecule.yml
  roles/uv/tasks/install-Debian.yml
  roles/uv/tasks/main.yml
  roles/uv/vars/Debian.yml
  roles/vim/molecule/default/molecule.yml
  roles/vim/molecule/default/verify.yml
  roles/vim/tasks/install-Debian.yml
  roles/vim/tasks/main.yml
  roles/vim/vars/Debian.yml
Due: ansible-syntax-check, check-molecule-tests

chore: disable Git configuration by default
  group_vars/all.yml
Due: ansible-syntax-check, validate-group-vars

chore(release): 1.7.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  22819097b7cf854ca660802af847dc10e30981ef
Due: none

feat(tooling): add speckit framework for feature specification and planning
  .claude/commands/speckit.analyze.md
  .claude/commands/speckit.checklist.md
  .claude/commands/speckit.clarify.md
  .claude/commands/speckit.constitution.md
  .claude/commands/speckit.implement.md
  .claude/commands/speckit.plan.md
  .claude/commands/speckit.specify.md
  .claude/commands/speckit.tasks.md
  .claude/commands/speckit.taskstoissues.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/agent-file-template.md
  .specify/templates/checklist-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
  specs/001-debian-compatibility/checklists/requirements.md
  specs/001-debian-compatibility/plan.md
  specs/001-debian-compatibility/quickstart.md
  specs/001-debian-compatibility/research.md
  specs/001-debian-compatibility/role-inventory.md
  specs/001-debian-compatibility/spec.md
  specs/001-debian-compatibility/tasks.md
Due: none

fix: mysql client package name for debian
  group_vars/all.yml
Due: ansible-syntax-check, validate-group-vars

chore(release): 1.7.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  9b521525edebed0bd59557aba1feed3f4e8bf971
Due: none

fix: firefox and apt transport https for debian
  group_vars/all.yml
Due: ansible-syntax-check, validate-group-vars

chore(release): 1.7.2 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  3a14402eeabc99380afe59ab933cc3185da94da7
Due: none

feat(warp): add Ubuntu-specific support and improve Debian installation
  roles/warp/defaults/main.yml
  roles/warp/molecule/default/verify.yml
  roles/warp/tasks/install-Redhat.yml
  roles/warp/tasks/install-Ubuntu.yml
  roles/warp/tasks/main.yml
  roles/warp/templates/workflow.yaml.j2
  roles/warp/vars/default.yml
  roles/warp/vars/redhat.yml
  roles/warp/vars/ubuntu.yml
Due: ansible-syntax-check, check-molecule-tests

feat(base-tools): split Debian and Ubuntu package installations
  .github/workflows/ci.yml
  group_vars/all.yml
  roles/base-tools/defaults/main.yml
  roles/base-tools/meta/main.yml
  roles/base-tools/molecule/default/converge.yml
  roles/base-tools/molecule/default/requirements.yml
  roles/base-tools/molecule/default/verify.yml
  roles/base-tools/tasks/install-Ubuntu.yml
  roles/base-tools/tasks/main.yml
  roles/warp/defaults/main.yml
  roles/warp/tasks/install-Debian.yml
  roles/warp/tasks/install-Ubuntu.yml
  roles/warp/vars/debian.yml
  roles/warp/vars/ubuntu.yml
  roles/zsh/templates/.zshrc.j2
Due: ansible-syntax-check, validate-group-vars, check-molecule-tests

chore(release): 1.8.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  8dd7eb892d3a073377446429a1ad92c902aedf8d
Due: none

feat(setup): add Debian and Ubuntu support to setup.sh
  CLAUDE.md
  README.md
  setup.sh
Due: none

style(yamllint): fix comment spacing in SPDX headers
  .yamllint
  roles/git/defaults/main.yml
  roles/git/handlers/main.yml
  roles/git/meta/main.yml
  roles/git/tasks/main.yml
  roles/git/tests/test.yml
  roles/git/vars/main.yml
  roles/rancher-desktop/defaults/main.yml
  roles/rancher-desktop/handlers/main.yml
  roles/rancher-desktop/meta/main.yml
  roles/rancher-desktop/tasks/install-Darwin.yml
  roles/rancher-desktop/vars/main.yml
Due: ansible-syntax-check, check-molecule-tests

perf(ansible): enable smart gathering and profiling callbacks
  ansible.cfg
Due: none

docs(ansible): simplify commands by removing redundant parameters
  .specify/memory/constitution.md
  CLAUDE.md
  Makefile
  README.md
  setup.sh
Due: none

chore(git): ignore logs directories
  .gitignore
Due: none

fix(ansible): add missing tags to role tasks
  roles/appstore/tasks/main.yml
  roles/macos_settings/tasks/main.yml
  roles/mise/tasks/main.yml
  roles/rosetta/tasks/main.yml
Due: ansible-syntax-check, check-molecule-tests

fix(ansible): disable interactive password prompt in ansible.cfg
  ansible.cfg
Due: none

Notes added by 'git notes add'
  64512fd4b6e03f2602fca2669ff096a93af61c2d
Due: none

chore(release): 2.0.0 [skip ci]
  CHANGELOG.md
Due: none

chore: ignore vscode folder
  .gitignore
Due: none

feat(renovate): add support for Python (uv) dependencies
  renovate.json
Due: none

docs(renovate): update documentation to include Python/uv support
  CLAUDE.md
Due: none

feat(renovate): add lock file maintenance configuration
  renovate.json
Due: none

chore(release): 2.1.0 [skip ci]
  CHANGELOG.md
Due: none

Path conditions:
  ansible-syntax-check: any of: \.(yml|yaml)$
  validate-group-vars: any of: ^group_vars/.*\.yml$
  check-molecule-tests: any of: ^roles/.*
