Repository TheoPoc/laptop_setup: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-syntax-check, validate-group-vars, check-molecule-tests

ansible-syntax-check:
  name: Ansible Syntax Check
  entry: bash -c 'ansible-playbook main.yml --syntax-check -i hosts'
  language: system
  pass_filenames: false

validate-group-vars:
  name: Validate group_vars
  entry: python3
  language: system
  pass_filenames: false
  args:
  - -c
  ...

check-molecule-tests:
  name: Check Molecule Tests Exist
  entry: python3
  language: system
  pass_filenames: false
  args:
  - -c
  ...

fix: remove pip cache from CI workflow to resolve missing requirements file error
  .github/workflows/ci.yml
Due: ansible-syntax-check

chore: add line-length to ansible-lint skip list
  .ansible-lint
Due: none

chore: remove security scanning jobs from CI workflow
  .github/workflows/ci.yml
Due: ansible-syntax-check

refactor: remove LibreOffice from base-tools Debian packages
  roles/base-tools/molecule/default/verify.yml
  roles/base-tools/vars/Debian.yml
Due: ansible-syntax-check, check-molecule-tests

fix: resolve all molecule test failures across multiple roles
  roles/base-tools/tasks/install-Debian.yml
  roles/cursor/defaults/main.yml
  roles/cursor/molecule/default/molecule.yml
  roles/cursor/tasks/install-Debian.yml
  roles/git/molecule/default/requirements.yml
  roles/mise/defaults/main.yml
  roles/mise/tasks/configure-mise.yml
  roles/rancher-desktop/tasks/install-Debian.yml
  roles/zsh/molecule/default/requirements.yml
  roles/zsh/tasks/install-Debian.yml
Due: ansible-syntax-check, check-molecule-tests

fix: resolve cursor molecule test by switching to .deb package installation
  roles/cursor/molecule/default/molecule.yml
  roles/cursor/molecule/default/verify.yml
  roles/cursor/tasks/install-Debian.yml
  roles/cursor/vars/Debian.yml
Due: ansible-syntax-check, check-molecule-tests

docs: add commit conventions to CLAUDE.md
  CLAUDE.md
Due: none

chore: add .ansible/ directory to .gitignore
  .gitignore
Due: none

fix: handle shell detection failure in uv tool update-shell task
  roles/uv/defaults/main.yml
  roles/uv/molecule/default/converge.yml
  roles/uv/tasks/main.yml
Due: ansible-syntax-check, check-molecule-tests

feat: add check mode support to uv role
  roles/uv/tasks/main.yml
Due: ansible-syntax-check, check-molecule-tests

feat: add check mode support to all roles
  roles/appstore/tasks/main.yml
  roles/base-tools/tasks/install-Debian.yml
  roles/copier/tasks/main.yml
  roles/cursor/tasks/install-extensions.yml
  roles/gita/tasks/main.yml
  roles/iterm2/tasks/main.yml
  roles/mise/tasks/configure-mise.yml
Due: ansible-syntax-check, check-molecule-tests

feat: improve check mode support for base-tools and rancher-desktop roles
  roles/base-tools/tasks/install-Debian.yml
  roles/cursor/tasks/install-extensions.yml
  roles/rancher-desktop/tasks/install-Darwin.yml
Due: ansible-syntax-check, check-molecule-tests

fix: improve check mode support for binary and deb package installations
  roles/base-tools/tasks/install-Debian.yml
Due: ansible-syntax-check, check-molecule-tests

ci: remove check mode flag from integration test
  .github/workflows/ci.yml
Due: ansible-syntax-check

fix: add OS-aware group detection for vim role
  roles/vim/defaults/main.yml
  roles/vim/tasks/main.yml
  roles/vim/vars/Darwin.yml
  roles/vim/vars/Debian.yml
Due: ansible-syntax-check, check-molecule-tests

ci: remove auto-request review job from PR automation
  .github/workflows/pr-automation.yml
Due: ansible-syntax-check

test: add molecule tests for 9 roles
  roles/appstore/molecule/default/converge.yml
  roles/appstore/molecule/default/molecule.yml
  roles/appstore/molecule/default/verify.yml
  roles/copier/molecule/default/converge.yml
  roles/copier/molecule/default/molecule.yml
  roles/copier/molecule/default/verify.yml
  roles/gita/molecule/default/converge.yml
  roles/gita/molecule/default/molecule.yml
  roles/gita/molecule/default/verify.yml
  roles/gpg/molecule/default/converge.yml
  roles/gpg/molecule/default/molecule.yml
  roles/gpg/molecule/default/verify.yml
  roles/iterm2/molecule/default/converge.yml
  roles/iterm2/molecule/default/molecule.yml
  roles/iterm2/molecule/default/verify.yml
  roles/macos_settings/molecule/default/converge.yml
  roles/macos_settings/molecule/default/molecule.yml
  roles/macos_settings/molecule/default/verify.yml
  roles/rosetta/molecule/default/converge.yml
  roles/rosetta/molecule/default/molecule.yml
  roles/rosetta/molecule/default/verify.yml
  roles/vim/molecule/default/converge.yml
  roles/vim/molecule/default/molecule.yml
  roles/vim/molecule/default/verify.yml
  roles/warp/molecule/default/converge.yml
  roles/warp/molecule/default/molecule.yml
  roles/warp/molecule/default/verify.yml
Due: ansible-syntax-check, check-molecule-tests

fix: update molecule tests configuration and fix compatibility issues
  roles/appstore/molecule/default/molecule.yml
  roles/copier/molecule/default/molecule.yml
  roles/copier/molecule/default/verify.yml
  roles/gita/meta/main.yml
  roles/gita/molecule/default/molecule.yml
  roles/gita/molecule/default/verify.yml
  roles/gpg/meta/main.yml
  roles/gpg/molecule/default/molecule.yml
  roles/iterm2/molecule/default/molecule.yml
  roles/macos_settings/molecule/default/converge.yml
  roles/macos_settings/molecule/default/molecule.yml
  roles/macos_settings/molecule/default/verify.yml
  roles/rosetta/molecule/default/converge.yml
  roles/rosetta/molecule/default/molecule.yml
  roles/rosetta/molecule/default/verify.yml
  roles/vim/defaults/main.yml
  roles/vim/molecule/default/molecule.yml
  roles/warp/molecule/default/molecule.yml
Due: ansible-syntax-check, check-molecule-tests

ci: exclude macOS-only roles from molecule checks and add new tested roles
  .github/workflows/ci.yml
  .github/workflows/pr-automation.yml
Due: ansible-syntax-check

refactor: improve warp role to follow OS-aware architecture pattern
  roles/warp/tasks/install-Darwin.yml
  roles/warp/tasks/install-Debian.yml
  roles/warp/tasks/main.yml
  roles/warp/vars/debian.yml
Due: ansible-syntax-check, check-molecule-tests

fix: resolve JavaScript syntax error in PR automation workflow
  .github/workflows/pr-automation.yml
Due: ansible-syntax-check

fix: add missing quote in labeler.yml configuration
  .github/labeler.yml
Due: ansible-syntax-check

fix: update labeler.yml to actions/labeler@v5 format
  .github/labeler.yml
Due: ansible-syntax-check

refactor: update verify.yml to enhance version checks for node and python
  roles/mise/molecule/default/verify.yml
Due: ansible-syntax-check, check-molecule-tests

refactor: streamline uv verification tasks in verify.yml
  roles/uv/molecule/default/verify.yml
Due: ansible-syntax-check, check-molecule-tests

Revert "refactor: update verify.yml to enhance version checks for node and python"
  roles/mise/molecule/default/verify.yml
Due: ansible-syntax-check, check-molecule-tests

Revert "refactor: streamline uv verification tasks in verify.yml"
  roles/uv/molecule/default/verify.yml
Due: ansible-syntax-check, check-molecule-tests

test: add copier version verification in molecule tests
  roles/copier/molecule/default/verify.yml
Due: ansible-syntax-check, check-molecule-tests

feat: add Telegram notifications to CI/CD and release workflows
  .github/TELEGRAM_SETUP.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: ansible-syntax-check

fix: change Telegram notification format from markdown to HTML
  .github/TELEGRAM_SETUP.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: ansible-syntax-check

fix: remove duplicate workflow triggers for feature branches
  .github/workflows/ci.yml
Due: ansible-syntax-check

feat: automate Full Disk Access check in setup script
  README.md
  setup.sh
Due: none

feat: add SSH key generation and repository cloning to setup script
  setup.sh
Due: none

Revert "feat: add SSH key generation and repository cloning to setup script"
  setup.sh
Due: none

fix: remove Full Disk Access verification from setup script
  setup.sh
Due: none

refactor: extract common architecture variables to main.yml in base-tools role
  roles/base-tools/vars/Debian.yml
  roles/base-tools/vars/main.yml
Due: ansible-syntax-check, check-molecule-tests

refactor: centralize package lists in group_vars/all.yml
  group_vars/all.yml
  roles/base-tools/molecule/default/molecule.yml
  roles/base-tools/tasks/install-Darwin.yml
  roles/base-tools/tasks/install-Debian.yml
  roles/base-tools/tasks/main.yml
  roles/base-tools/vars/Darwin.yml
  roles/base-tools/vars/Debian.yml
Due: ansible-syntax-check, validate-group-vars, check-molecule-tests

Path conditions:
  ansible-syntax-check: any of: \.(yml|yaml)$
  validate-group-vars: any of: ^group_vars/.*\.yml$
  check-molecule-tests: any of: ^roles/.*
